[submodule "rts"]
	path = rts
	url = https://github.com/tsamb/rts-tower-defence.git
[submodule "sim"]
	path = sim
	url = https://github.com/tsamb/pharma-sim.git
[submodule "sudoku"]
	path = sudoku
	url = https://github.com/tsamb/javascript-sudoku-solver.git
