body {
    font-family: helvetica, sans-serif;
}

main {
    width: 600px;
}

a {
    color: #0073e6;
}

a:hover {
    color: #3399ff;
}

article {
    padding: 0 25px;
}

h1 {
    font-size: 3em;
}
    
h2 {
    font-size: 1.75em;
    margin-bottom: 5px;
}

p {
    font-size: 1.25em;
    line-height: 1.5em;
}

