/* Global styles */
/* ------------- */

body {
  font-family: helvetica, sans-serif;
  margin: 0;
}

.container {
  display: flex;
  margin: 20px;
}

a {
  color: #3366cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}


/* Nav styles */
/* ------------- */

nav {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  width: 180px;
  box-shadow: 8px 0 8px -8px rgba(0, 0, 0, 0.2);
}

nav ul {
  padding: 0;
}

nav li {
  list-style: none;
  margin-bottom: 5px;
}

#nav-title {
  color: inherit;
}


/* Main content styles */
/* ------------- */

#right-pane {
  margin-left: 20px;
  line-height: 1.25;
  flex: 1;
  max-width: 600px;
  text-align: justify;
}

#five-ws div:nth-child(1) {

}

#five-ws div:nth-child(2) {
  /*margin-left: 40px;*/
  margin-left: 8%;
}

#five-ws div:nth-child(3) {
  /*margin-left: 80px;*/
  margin-left: 16%;
}

#five-ws div:nth-child(4) {
  /*margin-left: 40px;*/
  margin-left: 8%;
}

.stagger div:nth-child(8n+1) {
  margin-left: 0%;
}

.stagger div:nth-child(8n+2) {
  margin-left: 20%;
}

.stagger div:nth-child(8n+3) {
  margin-left: 40%;
}

.stagger div:nth-child(8n+4) {
  margin-left: 60%;
}

.stagger div:nth-child(8n+5) {
  margin-left: 80%;
}

.stagger div:nth-child(8n+6) {
  margin-left: 60%;
}

.stagger div:nth-child(8n+7) {
  margin-left: 40%;
}

.stagger div:nth-child(8n+8) {
  margin-left: 20%;
}

#page-header {
  position: relative;
  text-align: right;
}

@media screen and (min-width:820px) and (max-width:1599px) {
  .project-container {
    height: 300px;
  }

  .project-details {
    padding-right: 20px;
  }

  .image-container-right {
    height: 100%;
    float: right;
  }

  .image-container-left {
    height: 100%;
    float: left;
  }

  .project-image {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

hr {
  margin-bottom: 30px;
}


/* Large screen media query */
/* ------------------------ */

@media screen and (min-width:1600px) {
  body {
    font-size: 2em;
  }

  nav {
    width: 400px;
  }

  #right-pane {
    margin-left: 20px;
    flex: 1;
    max-width: 1000px;
    text-align: justify;
  }
}


/* Mobile media query */
/* ------------------ */

@media screen and (max-width:499px) {  
  .container {
    flex-direction: column;
  }

  nav {
    box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
  }

}
